html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#imagenPerfil{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    
}

#nombre{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
#datos{
    text-align: right;
    font-family: Arial;
    color: azure;
    font-weight: 1900;
}
#colors1{
    background-color:  #97468c;
    height: 235px;
  
}


#ctm{
background-color: #0d7579;
 height: 250px;
 border-color:wheat ;
 border-style: solid;
 border-width:5px ;
 padding: 25px;
 margin: 30px;
}

#imgEstudios{
    width: 35px;
    height: 35px;
}

#estudios{
    float: left;
    color: black;
}

.textazul{
    color: blue;
}

#tamano{
    font-weight: 900;
    color: whitesmoke;
}

#edit{
    align-content: center;
}
#boton {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    float: left;
}